{% extends "layout_member.html" %}
{%block content%}

<div class="row" style="margin-bottom:0;">
	<div class="col s12 center">
		<h5 class="cyan-text text-darken-4" style="font-weight: 600; text-decoration: underline;">FAMILY FIXED EXPENSES</h5>
	</div>
	<div class="col s10 offset-s1">
		<ul class="tabs">
			<li class="tab col s6"><a class="cyan-text text-darken-4" href="#fixed-expenses">FIXED EXPENSES</a></li>
			<li class="tab col s6"><a class="cyan-text text-darken-4" href="#add-expenses">ADD FIXED EXPENSES</a></li>
		</ul>
	</div>
</div>

<div class="col s12" id="add-expenses" >
	<div class="row" >
		<div class="col s8 offset-s2"  >
			<div class="card-panel grey lighten-2"style="background-image: url('https://img.freepik.com/free-photo/blue-bokeh-textured-plain-product-background_53876-102475.jpg?w=2000'); background-repeat: no-repeat; background-size: cover;">
				<div class="row">
					<div class="col s12 center-align" >
						<h5 class='cyan-text text-darken-4' style="text-decoration: underline; font-weight: bold;">ADD FIXED EXPENSE</h5>
					</div>
					<form action="{{url_for('famFixedExpenseReg')}}" method="post" enctype="multipart/form-data">
						<div class="col s12 input-field">
							<i class="material-icons prefix">edit</i>
							<input type="text" name="name" id='user-name' class="validate" required>
							<label for="user-name">Name</label>
						</div>
						<div class="input-field col s12">
			      			<i class="material-icons prefix">calendar_today</i>
						    <select name='day' required>
						      <option value="" disabled selected>Select Day</option>
						      <option value="1">1</option>
						      <option value="2">2</option>
						      <option value="3">3</option>
						      <option value="4">4</option>
						      <option value="5">5</option>
						      <option value="6">6</option>
						      <option value="7">7</option>
						      <option value="8">8</option>
						      <option value="9">9</option>
						      <option value="10">10</option>
						      <option value="11">11</option>
						      <option value="12">12</option>
						      <option value="13">13</option>
						      <option value="14">14</option>
						      <option value="15">15</option>
						      <option value="16">16</option>
						      <option value="17">17</option>
						      <option value="18">18</option>
						      <option value="19">19</option>
						      <option value="20">20</option>
						      <option value="21">21</option>
						      <option value="22">22</option>
						      <option value="23">23</option>
						      <option value="24">24</option>
						      <option value="25">25</option>
						      <option value="26">26</option>
						      <option value="27">27</option>
						      <option value="28">28</option>
						      <option value="29">29</option>
						      <option value="30">30</option>
						      <option value="31">31</option>
						    </select>
						</div>
						<div class="col s12 input-field">
							<i class="material-icons prefix">123</i>
							<input type="text" name="amount" id='user-mob' class="validate" required>
							<label for="user-mob">Amount</label>
						</div>
						<div class="col s12 center-align">
							<input type="submit" name="" value='ADD EXPENSE' class="btn cyan darken-4">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col s12" id="fixed-expenses" >
	<div class="row">
		{% for i in famFixedExpense %}
			<div class="card-panel col s5" style="margin-left: 5rem;">
				<div class="row" style="margin-bottom:.6rem;">
					<div class="col s1" style="margin-top:.5rem;">
						<img src="{{url_for('static', filename='images/expenses.png')}}" style="width: 3.5rem; height: 3.5rem;">
					</div>
					<div class="col s11" style="margin-top: .5rem;">
						<p style="text-transform: capitalize; font-weight: bold; margin-left: .5rem;" class="cyan-text  text-darken-4">{{famFixedExpense[i]['name']}}</p>
					</div>
					<div class="col s12">
						<p style="text-transform: capitalize; margin-bottom: 0;"><span style="font-weight:bold;">Day : </span>{{famFixedExpense[i]['day']}}</p>
					</div>
					<div class="col s12">
						<p style="text-transform: capitalize; margin-top: 0; margin-bottom: 0;"><span style="font-weight:bold;">Amount : </span>{{famFixedExpense[i]['amount']}}/-</p>
					</div>
					<div class="col s12">
						<p style="text-transform: capitalize; margin-top: 0; font-weight: bold;">Added By : <span class="cyan-text text-darken-4">{{famFixedExpense[i]['memberDetails']['name']}}</span></p>
					</div>
					<div class="col s12" style="padding: 0">
						<div class="divider"></div>
					</div>
					<div class="col s4" style="margin-top:.5rem;">
						<a href=""><span class="orange-text">EDIT</span></a>
					</div>
					<div class="col s4 center" style="margin-top:.5rem;">
						<a href=""><span class="orange-text">DELETE</span></a>
					</div>
					<div class="col s4 right-align" style="margin-top:.5rem;">
						<a href=""><span class="orange-text">MORE DETAILS</span></a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% endblock %}